.section-container{
    max-width: 800px;
    margin: auto;
    padding: 64px 16px;
    text-align: center;
    justify-content: center;
}
 
.section-title{
    text-align: center;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400px;
}
 
.section-subtitle{
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
}
 
.about-text{
    margin-bottom: 30px;
}

.member-card {
  background: url("../imagens/image.jpg") no-repeat center/cover;
  height: 600px;
}

.member-card img {
  width: 100%;
  max-width: 1000px;
  height: 600px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .member-card,
  .member-card img {
    height: auto;
    max-height: 350px;
  }
}