::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #CC9CFF;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b17bee;
}